<h1>Welcome to Dyls FaceSpace!</h1>
<h3>Now with Navigation!</h3>
<ul>
    <li><%= link_to "Sellers", sellers_path %></li>
    <li><%= link_to "Message Threads", messages_path %></li>
    <li><%= link_to "Posts", posts_path %></li>
    <li><%= link_to "Settings", settings_path %></li>
</ul>